body{
    font-family: 'BalooDa2-Medium', 'Courier New', monospace !important;
    padding-bottom: 0px;
    margin:0;
    overflow-x: hidden;
}
p{
    -webkit-text-stroke-width: thin;
}
.pr-10{
    padding: 0px 0px 15px 10px;
}
.text-color-six{
    font-weight: 800 !important;
    line-height: 1.2 !important;
    
}
/* .navbar-brand{
    font-weight: 900;
    font-size: 1.5rem;
}
.navbar-brand::before{
    content: "<";
}
.navbar-brand::after{
    content: " />";
    display: inline;
} */
.dfs{
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
} 
.topo{
    background-color: #090d19 ;
}
b{
    color:#CFDBFF !important;
}
.circle {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
}
.bg-quemsou{
    background-color: #0d111b;
    /*box-shadow: inset 550px 550px rgbargba(108, 14, 214);*/
}
article{
    line-height: 2rem;
}
.bg-transparant-black{
    background-color:rgba(0,0,0, 0.9) !important;
}
.fill{
    width: 100%;
    height: 2px;
    background-color:blue;
    background-image:linear-gradient(to right,#0f1517,#CFDBFF,#CFDBFF,#0f1517);
}
.btn-outline-dark:hover {
     background-color: rgba(0,0,0,.5) !important; 
    border-color: rgba(0,0,0,.5) !important; 
}
.btn-outline-dark:not(:disabled):not(.disabled).active{
    background-color: rgba(0,0,0,.5) !important;
    border:rgba(0,0,0,.5) !important;
}
.bg-negocio{
    background-color: rgba(0,0,0, 0.9);
    /*box-shadow: inset 550px 550px rgbargba(108, 14, 214);*/
}
[data-menu="button"]{
    margin-top: -5rem;
    right: 0rem;
    z-index: 1001;
    position: fixed;
    transition: transform .4s !important;
}
[data-menu="button"].active{
   transform: rotate(45deg);
}
[data-menu="list"]{
    z-index: 1000;top:0px;bottom:0;right: 0rem;
    background-color: #0f1517;
    margin-right: -15rem;
    box-shadow: inset 2px 2px 2px 0 rgba(255,255,255, 0.9);
    transition: all .4s linear;
}
[data-menu="list"].active{
    margin-right: 0rem !important;
}
[data-menu="list"] .nav-link{
    color:#eee !important;
}
[data-menu="list"] .nav-link:hover{
    color:#CFDBFF  !important;
    text-decoration: #CFDBFF !important;
}
footer a.h6{
    margin-left: -22px;
    color:#CFDBFF !important;
}
footer a.h6:hover{
    color:#eee !important;
}
.card-body{
    box-shadow: 10px 10px #CFDBFF;
}
#shadow{
    box-shadow: 25px 15px #29404D;
}

[data-anime="titulo"]:after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}
@keyframes pisca{
    0%, 100%{
        opacity:1;
    }
    50%{
        opacity:0;
    }
}

/* Carousel */
.gallery{
    display: flex;
    align-items: center;
    column-gap: 20px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
.gallery_item{
    scroll-snap-type: center;
    min-width: 75%;
}
.gallery_card{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Slide */
.wrapper{
    overflow: hidden;
}
ul.slide{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.slide{
    display: flex;
}
.slide li{
    width: 80vw;
    flex-shrink: 0;
    max-width:800px;
    margin: 0 20px;
}
.slide img{
    display: block;
    max-width: 100%;
}
